
body{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400,500 !important;
    background-color: #000 !important;
    color: #fff !important;
}

/*Navbar*/

.navbar-dark .navbar-brand{
    color: #fff;
    font-weight: 400;
} 

.nav-item{
    font-weight: 400;
}


.carousel-item{

    height: 100%;
    width: 100;
    background: no-repeat center scroll;
    background-size: cover;
}

.d-block {
    width: 100%;
    height: 100%;
}


/*Generales*/

/* Titulos */
h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

/* Parrafos */
p {
    text-align: left;
    font-weight: 400;
}

/* Iconos */
i {
    color:#fff;
}

/*Imagen cards*/

.card-img-top{
    height: 150px;
    width: 300px;
}

footer{
    font-weight: 400;
}